.fall {
	animation: falling-anim 0.5s ease-out;
}

.slide {
	animation: completed-anim 0.4s ease-out;
}

@keyframes falling-anim {
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes completed-anim {
	to {
		transform: translateX(200%);
		opacity: 0;
	}
}
