form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	input {
		margin-bottom: 2rem;
	}
	.days-select {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
.fall {
	animation: falling-anim 0.5s ease-in-out;
}

@keyframes falling-anim {
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}
