/* nav section */

.banner {
	position: relative;
	background-color: rgb(255, 95, 78);
	color: white;
	height: 3rem;
	width: 100%;
	p {
		font-size: 1.4rem;
		text-align: center;
	}
}

nav {
	min-height: 5vh;
	// background-color: white;
	background: linear-gradient(to right, $main-green, $main-blue, $main-red);
	background-size: 600% 600%;
	animation: gradient 25s ease infinite;
	// box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		0 18px 36px -18px rgba(0, 0, 0, 0.3);
}

.nav-header {
	@include flex(space-evenly, space-evenly, row);
	@include width(90%);
	padding: 1rem;
}

.nav-logo {
	flex: 1 1 40rem;
	cursor: pointer;
	svg {
		height: 4rem;
	}
}

.nav-links ul {
	@include flex(flex-start, flex-start, row);
	flex: 1 1 40rem;
	li {
		padding: 0rem 1rem;
		margin-right: 1rem;
		margin-bottom: 0;
		transition: all 200ms ease;
		@include expand();
	}
	li a {
		color: white;
	}
}

/* HERO SECTION */

.hero-section {
	@include width(90%);
	min-height: 40vh;
	margin-bottom: 20rem;
}

.hero-wrapper {
	@include flex(center, center, row);
	padding: 5rem;
	flex-wrap: wrap;
}
.hero-text {
	flex: 2 1 40rem;
	margin: 0 5rem 2rem 0;
}
.hero-img {
	flex: 1 1 40rem;
	svg {
		max-width: 90%;
	}
}

/* DASHBOARD */

.dashboard {
	@include width(90%);
	position: relative;
}

.dash-header-row-2 {
	@include flex(space-between, center, row);
	transition: all 200ms ease-in-out;
	h2 {
		text-align: left;
		color: $main-blue;
	}
}

.dashboard-controls {
	@include flex(center, center, row);
	i {
		cursor: pointer;
		margin-right: 2rem;
	}
	i:hover {
		color: $main-blue;
	}
	.fa-plus:hover {
		color: $main-green;
	}
}
.dashboard-main-content {
	text-align: center;
}

.dashboard-no-content {
	@include flex(center, center, column);
	h2 {
		text-align: center;
	}
}

.created-pills {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 6rem 4rem;
}
.pill-card {
	position: relative;
	background-color: white;
	// border: 1px solid #dbdbdb;
	border-radius: 0.8rem;
	overflow: hidden;
	min-width: 20rem;
	min-height: 35rem;
	padding: 3rem;
	cursor: pointer;
	@include flex(space-around, center, column);
	@include shadow();
	@include expand();
}

.pill-card-img {
	max-width: 8rem;
	max-height: 8rem;
	border: 1px solid #dbdbdb;
	border-radius: 0.5rem;
	margin-bottom: 3rem;
	@include shadow();
	img {
		max-width: 90%;
		max-height: 90%;
	}
}

.pill-card > p {
	font-size: 1.4rem;
	color: $light-grey;
}

.pill-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	@include flex(center, center, row);
}

.delete-btn {
	position: relative;
	background-color: $light-grey;
	// background-color: $main-red;
	flex: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 200ms ease;
	i {
		color: white;
		@include center();
	}
	&:hover {
		background-color: rgb(255, 95, 78);
	}
}

.edit-btn {
	position: relative;
	// background-color: $main-green;
	background-color: $light-grey;
	color: white;
	flex: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 200ms ease;
	h5 {
		@include center;
	}
	&:hover {
		background-color: rgb(60, 186, 115);
	}
}

.completed-btn {
	position: relative;
	background-color: $light-grey;
	// background-color: $main-blue;
	width: 100%;
	height: 100%;
	flex: 2;
	cursor: pointer;
	transition: all 200ms ease;
	i {
		color: white;
		@include center();
	}
	&:hover {
		background-color: #4997fe;
	}
}

.dashboard-trash-btn {
	position: absolute;
	right: 2%;
	bottom: -25%;
	width: 6rem;
	height: 6rem;
	background-color: $grey-text;
	border-radius: 50%;
	cursor: pointer;
	@include shadow();
	@include expand();
	h5 {
		@include center();
		color: white;
	}
}

.dashboard-trash-menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}

.dashboard-trash-menu {
	position: relative;
	overflow: hidden;
	min-width: 50rem;
	min-height: 50rem;
	background-color: $grey-text;
	border-radius: 0.8rem;
	color: white;
	padding: 3rem;
	@include center();
	@include shadow();
	@include flex(space-evenly, center, column);
}

.trash-menu-row {
	@include flex(center, center, row);
	width: 75%;
	&:hover {
		border-bottom: 1px solid #dbdbdb;
	}
}

.trash-menu-row-close {
	position: absolute;
	top: 2%;
	right: 3%;
	cursor: pointer;
}

.trash-menu-row-info {
	@include flex(center, center, row);
	flex: 3 1 20rem;
	margin: 0rem 2rem;
	// padding: 2rem;
	p {
		font-size: 1.6rem;
	}
}

.trash-menu-row-info p:nth-child(1) {
	margin-right: 2rem;
}

.trash-menu-row-controls {
	@include flex(space-around, center, row);
	flex: 1 1 20rem;
	p {
		font-size: 1.4rem;
	}
}

.trash-menu-restore {
	cursor: pointer;
	&:hover {
		color: $main-blue;
	}
}

.trash-menu-delete {
	cursor: pointer;
	&:hover {
		color: $main-red;
	}
}

.empty-trash {
	position: absolute;
	background-color: #363636;
	bottom: 0;
	right: 0;
	cursor: pointer;
	width: 100%;
	height: 4rem;
	transition: all 200ms ease;
	&:hover {
		background-color: $main-red;
	}
}

.empty-trash-icon {
	i,
	p {
		padding: 0rem 1rem;
	}
	@include flex(center, center, row);
	@include center();
}

.dashboard-trash-menu-container.active {
	opacity: 1;
	pointer-events: all;
}

//create pill menu

.create-pill-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}

.create-pill-container.active {
	opacity: 1;
	pointer-events: all;
}

.create-pill-menu {
	background-color: white;
	min-width: 50rem;
	min-height: 60rem;
	position: relative;
	border-radius: 1.2rem;
	padding: 3rem;
	@include center();
	@include shadow();
	@include flex(space-evenly, center, column);
}

.create-pill-menu-close {
	position: absolute;
	top: 2%;
	right: 3%;
	cursor: pointer;
}

.create-time-select,
.edit-time-select {
	width: 100%;
	margin-bottom: 1.6rem;
	border: none;
	font-size: 1.8rem;
	font-weight: 500;
	padding: 1rem 2rem;
	border: 1px solid #dbdbdb;
	@include shadow();
}

// #time-select::after {
// 	content: "%";
// }

.pill-name {
	width: 100%;
	margin-bottom: 1.6rem;
	border: none;
	padding: 1rem 2rem;
	border: 1px solid #dbdbdb;
	@include shadow();
}

.add-time-input {
	color: $light-grey;
	cursor: pointer;
}

//ALERT
.create-alert {
	background: rgb(241, 64, 44);
	padding: 2rem 4rem;
	color: white;
	text-align: center;
	opacity: 0.85;
}

//edit pill popup
.edit-pill-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}
.edit-pill-container.active {
	opacity: 1;
	pointer-events: all;
}

.edit-pill-menu {
	background-color: white;
	min-width: 50rem;
	min-height: 60rem;
	position: relative;
	border-radius: 1.2rem;
	padding: 3rem;
	@include center();
	@include shadow();
	@include flex(space-evenly, center, column);
}

.edit-pill-menu-close {
	position: absolute;
	top: 2%;
	right: 3%;
	cursor: pointer;
}

//all pills section

.all-pills {
	@include width(90%);
	margin-top: 20rem;
}

.all-pills-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2rem 1.6rem;
}
