@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

$header1: 6rem;
$header2: 4rem;
$header3: 3.5rem;
$header4: 2.4rem;
$header5: 1.2rem;
$text: 2rem;
$grey-text: #2c2c2c;
$light-grey: #cfcfcf;
$bg-color: #131919;
$main-blue: #338aff;
$main-red: rgb(241, 64, 44);
$main-green: rgb(56, 178, 109);

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin expand() {
	transition: all 200ms ease;
	&:hover {
		transform: scale(1.05);
	}
}

//Only works for box-shadows.
@mixin shadow() {
	box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.2),
		0px 3px 6px rgba($color: #000000, $alpha: 0.1);
}

//IMPORTANT: must add set margins again when using media queries
@mixin width($width) {
	width: $width;
	margin: auto;
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@import "global";
@import "home";
@import "create";
