form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	input {
		margin-bottom: 2rem;
	}
	.days-select {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.todo-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #dbdbdb;
	height: 10rem;
	width: 10rem;
	box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
}

.created-pills {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 2rem;
	justify-items: center;
	align-items: center;
}
